@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Fira Code", monospace;
}

.slide-active {
  transform: scale(1.5);
  z-index: 1;
}
.slide-inactive {
  transform: scale(0.87);
  z-index: 0;
  overflow: hidden;
}

.slide-active-mobile {
  transform: scale(0.85);
  z-index: 1;
}
